@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
 */
body {
  color: rgb(var(--foreground-rgb));
  @apply bg-gray-600;
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
	background-color: #959595;
}


::-webkit-scrollbar-track {
  background-color: #959595;
	border-radius: 10px;
   
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
  background-color: #241F61;
}

.react-datepicker-wrapper{
  width: 100%;
}

.ql-container{
  /* height: 200px !important; */
  border: none !important;
}

.ql-toolbar{
  border: none !important;
}

.ql-editor blockquote {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: "20px";
}

.react-datepicker__day--selected {
  background-color: #241F61 !important;
  color: white !important;
}

.react-datepicker-time__input{
  font-size: 12px !important;
  height: 32px !important;
  border-radius: 12px !important;
}

.react-datepicker__close-icon{
  color: #241F61 !important;
}